/* Sass file that assigns text color and background color to the body, h1 and p. (With two variables) */
$hexColor: #3D3D3D;
$bg-Color: #6D6D6D;

body {
    color: $hexColor;
    background-color: $bg-Color;
}

p {
    color: $hexColor;
}

h2 {
    background-color: $bg-Color;
}
